    body {
    padding-top: 50px;
    background-image: url(https://thumbs.gfycat.com/EnviousNearBluefish-size_restricted.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    text-align: center;
    font-family: 'Star Wars', sans-serif;                                           
}

#header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    font-size: 24px;
}

#header>input {  
    margin: 10px;
    width: 50px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Star Wars', sans-serif;
    vertical-align: middle;
}

#header>input[type="submit"] {
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#header>input[type="number"] {
    width: 80px;
    height: 30px;
    cursor: pointer;
}
input {
    text-align: center;
}

#header>span {
    margin-right: 3px;
}

#header>input[type="radio"]{
    cursor: pointer;
}


#block {
    margin: 10px auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;           
    max-width: 1200px;           
}

.people {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 450px;    
    font-size: 24px;
    text-align: left;
}

.people>img {
    border-radius: 5px;
    display: block;
    height: 300px;
    width: auto;
}

.people>p>span {
    display: block; 
    max-width: 200px;
    color: yellow;
    text-shadow: 3px 0 black, 0 3px black, -3px 0 black, 0 -3px black;
}

#planets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: yellow;
    text-shadow: 3px 0 black, 0 3px black, -3px 0 black, 0 -3px black;
}

.planets {
    display: flex;
    flex-direction: column;
    color: yellow;
    text-shadow: 3px 0 black, 0 3px black, -3px 0 black, 0 -3px black;
    margin: 20px;
}

.planets>img {
    width: 250px;
    
}

